<div class="app-card-container">
  <div class="card">
    <h1>About</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "BX3I4450edit2.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>
      
      <div class="col-md-8">
        <p>Im a new full stack web developer who has a background in sports, data entry and busienss. I have my Bachelors in Business with an emphasis in Sports Management.</p>

        <p>Find me in app/views/pages/about.html.erb</p>
      </div>
    </div>
  </div>
</div>



