<div class="app-card-container">
  <div class="card">
    <h1>Contact Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="contact">
          <h3>Phone Number</h3>
          <p><%= number_to_phone "8016310757" %></p>
        </div>

        <div class="contact">
          <h3>Email</h3>
          <p><a href="mailto:AndrewWilson1414@gmail.com?subject=Contact" "email me">Email me</a></p>
        </div>

        <div class="contact">
          <p><a class="facebook" href="https://www.facebook.com/wolverineandrew">Facebook</a></p>
        </div>
          
        <div class="contact">
          <p><a class="twitter" href="https://twitter.com/wolverineandrew">Twitter</a></p>
        </div>

        <div class="contact">
          <p><a class="github" href="https://github.com/Wolverineandrew">GitHub</a></p>
        </div>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.167893866917!2d-111.95434404919916!3d40.51577997925243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752869d803e478f%3A0xbbd51a8737215b27!2s2402+13010+S%2C+Riverton%2C+UT+84065!5e0!3m2!1sen!2sus!4v1489099213397" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>