<div class="inner cover">
  <h1 class="cover-heading">Andrew Wilsons Professional Portfolio</h1>
  <p class="lead">Enjoy learning everything you need to know about Andrew!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
  